.originalUrlWidth{
  max-width: 30rem !important;
}

.shortenedUrlWidth{
  max-width: 20rem !important;
}

a {
  color: #1a73e8;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  color: #d32f2f;
  text-decoration: underline;
}
