<div class="flex w-full h-screen relative gap-8">
  <div class="w-1/4 h-full">
    <app-categories/>
  </div>

  <div class="w-3/4">
    <h2 class="text-2xl font-semibold mb-5">What we offer</h2>
    <p class="text-gray-700 text-lg mb-5">
      Our link shortener helps you easily shorten and share your URLs. Whether you're looking to clean up your links for better sharing or simply need an easy-to-use tool, we provide a fast, simple, and reliable solution.
    </p>
    <ul class="list-disc list-inside text-gray-600 space-y-2">
      <li class="text-lg">Create short, customizable URLs in seconds.</li>
      <li class="text-lg">Easy integration with other tools and platforms.</li>
      <li class="text-lg">Safe, secure, and free to use with no hidden fees.</li>
    </ul>
  </div>
</div>

